.shadow-md > .py-2 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.font-medium > a {
    font-size: 15px;
}
.items-center > .px-6 {
    font-size: 15px;
}
.call-back-button-my {
    background-color: rgba(0, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px gray;
}
.icons-my {
    width: 80px;
    aspect-ratio: 1/1;
    margin: 0 auto 15px auto;
}
.img1 {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}